<%- include('partials/head') %>
<%- include('partials/nav') %>

<div class="py-2 text-center text-white"
     style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(https://static.pingendo.com/cover-bubble-dark.svg);  background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h1 class="mb-3"><%= tour.name %></h1>
                <%- include('partials/map') %>
                <!--<iframe width="100%" height="400" src="https://maps.google.com/maps?q=New%20York&amp;z=14&amp;output=embed" scrolling="no" frameborder="0"></iframe>-->
            </div>
        </div>
    </div>
</div>
<div class="py-4 text-light">
    <div class="container">
        <div class="row">
            <div class="mx-auto col-lg-6 col-md-8">
                <ul>
                    <h3>Infos</h3>
                    <li class="mb-2"><b>Traffic</b>&nbsp;-</li>
                    <li class="mb-2"><b>Weather</b> -</li>
                    <li class="mb-2"><b>Hotels</b>&nbsp;-</li>
                    <li class="mb-2"><b>Restaurants</b> -</li>
                    <li class="mb-2"><b>Rating</b> - <span class="rating">
                <input type="radio" id="star5" name="rating" value="5"/><label class="full" for="star5"
                                                                               title="Awesome - 5 stars"></label>
                <input type="radio" id="star4half" name="rating" value="4 and a half"/><label class="half"
                                                                                              for="star4half"
                                                                                              title="Pretty good - 4.5 stars"></label>
                <input type="radio" id="star4" name="rating" value="4"/><label class="full" for="star4"
                                                                               title="Pretty good - 4 stars"></label>
                <input type="radio" id="star3half" name="rating" value="3 and a half"/><label class="half"
                                                                                              for="star3half"
                                                                                              title="Meh - 3.5 stars"></label>
                <input type="radio" id="star3" name="rating" value="3"/><label class="full" for="star3"
                                                                               title="Meh - 3 stars"></label>
                <input type="radio" id="star2half" name="rating" value="2 and a half"/><label class="half"
                                                                                              for="star2half"
                                                                                              title="Kinda bad - 2.5 stars"></label>
                <input type="radio" id="star2" name="rating" value="2"/><label class="full" for="star2"
                                                                               title="Kinda bad - 2 stars"></label>
                <input type="radio" id="star1half" name="rating" value="1 and a half"/><label class="half"
                                                                                              for="star1half"
                                                                                              title="Meh - 1.5 stars"></label>
                <input type="radio" id="star1" name="rating" value="1"/><label class="full" for="star1"
                                                                               title="Sucks big time - 1 star"></label>
                <input type="radio" id="starhalf" name="rating" value="half"/><label class="half" for="starhalf"
                                                                                     title="Sucks big time - 0.5 stars"></label>
              </span></li>
                    <li class="mb-2"><b>Review</b>
                        <p><%= tour.review %></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<% tour.places.forEach((place) => { %>
    <div class="container" style="background-color: white">
        <div class="row">
            <div class="p-4 col-lg-5 order-2 order-lg-1"><img class="img-fluid d-block" src="<%= place.placeImageURL %>"></div>
            <div class="d-flex flex-column justify-content-center p-3 col-lg-7 order-1 order-lg-2">
                <h3><%= place.name %></h3>
            </div>
        </div>
    </div>
    <hr>
<% }) %>

<!--<div class="container">
    <div class="row">
        <div class="p-0 col-lg-5 order-2 order-lg-1"><img class="img-fluid d-block"
                                                          src="https://static.pingendo.com/cover-bubble-light.svg">
        </div>
        <div class="d-flex flex-column justify-content-center p-3 col-lg-7 order-1 order-lg-2">
            <p class="lead mb-0" style="color: white">I should be incapable of drawing a single stroke at the present
                moment; and yet I feel that I never was a greater artist than now. When, while the lovely valley teems
                with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my
                trees, and but a few stray gleams steal into the inner sanctuary.</p>
        </div>
    </div>
</div>-->
</div>
</div>
</div>

<%- include('partials/footer') %>
